
// Note: if you redefine $font-size-base or $line-height-base, you must
// declare them before the @import statements below

// Import functions and variables from Bootstrap scss sources
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// Define text size of articles
$font-size-article: $font-size-base * 1.5;
$font-size-article-code: $font-size-base * 1.25;

// Define extra spacing between paragraphs in articles
$article-paragraph-margin-bottom: 2 * $paragraph-margin-bottom;

// Define new colors for inline code (<code>) and code fences (<pre>)
$code-color: $black;
$code-bg-color: $gray-200;
$code-padding-y: .1rem !default;
$code-padding-x: .3rem !default;

$pre-color: $black;
$pre-bg-color: $gray-200;
$pre-padding-y: .2rem !default;
$pre-padding-x: .4rem !default;

// Import main Bootstrap file
@import "../node_modules/bootstrap/scss/bootstrap";


// <article>
article {
    font-size: $font-size-article;
    line-height: 2;

    > p, .mermaid {
        margin-bottom: $article-paragraph-margin-bottom;
    }
}

.jqm-comment-user-icon {
    width: 3rem;
    height: 3rem;
}

.jqm-linkButton {
    color: $link-color;
    cursor: pointer;
}

// Override Bootstrap elements

// <code>
code {
    padding: $code-padding-y $code-padding-x;
    background-color: $code-bg-color;
}

// <pre> (Code fences)
pre {
    padding: $pre-padding-y $pre-padding-x;
    margin-bottom: $article-paragraph-margin-bottom;
    background-color: $pre-bg-color;
    font-size: $font-size-article-code;
    line-height: $line-height-base;   // Set this back to the default

    // MarkDig emits <code> tags inside of <pre> tags
    code {
        padding: 0;
        background-color: inherit;
        line-height: inherit;
    }
}

// Issue #48 - fixes stretched images in IE
// See https://stackoverflow.com/a/54815175/1001100
.card img {
    height: 100%;
}