
// Note: if you redefine $font-size-base or $line-height-base, you must
// declare them before the @import statements below

// Declare shades of gray based on hue
$gray-hue:  37;

$white: hsl($gray-hue, 0, 99);
$gray-100: hsl($gray-hue, 0, 97);
$gray-200: hsl($gray-hue, 2, 93);
$gray-300: hsl($gray-hue, 3, 90);
$gray-400: hsl($gray-hue, 5, 85);
$gray-500: hsl($gray-hue, 7, 73);
$gray-600: hsl($gray-hue, 12, 48);
$gray-700: hsl($gray-hue, 13, 33);
$gray-800: hsl($gray-hue, 17, 25);
$gray-900: hsl($gray-hue, 17, 15);
$black: hsl($gray-hue, 7, 5);

// Override a few colors
$red: #AD544C;
$yellow: #E5A800;
$green: #4EAA4B;
$blue: #177289; 

$body-bg: $gray-200;

// Import functions and variables from Bootstrap scss sources
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// Define extra spacing between paragraphs in main area
$main-paragraph-margin-bottom: 2 * $paragraph-margin-bottom;

// Define new colors for inline code (<code>) and code fences (<pre>)
$code-color: $black;
$code-bg-color: $gray-400;
$code-padding-y: .1rem !default;
$code-padding-x: .3rem !default;

$pre-color: $black;
$pre-bg-color: $gray-400;
$pre-padding-y: .2rem !default;
$pre-padding-x: .4rem !default;

// Import main Bootstrap file
@import "../node_modules/bootstrap/scss/bootstrap";


// <main>
article {
    font-size: $font-size-lg;
    line-height: 2;
    
    > p {
        margin-bottom: $main-paragraph-margin-bottom;
    }
}

// Override Bootstrap elements

// <code>
code {
    padding: $code-padding-y $code-padding-x;
    background-color: $code-bg-color;
}

// <pre> (Code fences)
pre {
    padding: $pre-padding-y $pre-padding-x;
    margin-bottom: $main-paragraph-margin-bottom;
    background-color: $pre-bg-color;
    line-height: $line-height-base;   // Set this back to the default

    // MarkDig emits <code> tags inside of <pre> tags
    code {
        padding: 0;
        background-color: inherit;
        line-height: inherit;
    }
}
