
<div class="container pt-3">
    <div class="row align-items-center">
        <div class="col-sm-4 text-center">
            <img class="img-fluid" src="/images/unknownPersonPlaceholderLarge.png" />
        </div>
        <div class="col-sm-8">
            <span class="text-center text-sm-left">
                <vc:title-heading title="@ViewData["username"]"></vc:title-heading>
            </span>
            <p>&nbsp;</p>
            <p>
                Coming soon:  the ability to upload your own profile picture and customize this space
            </p>
        </div>
    </div>
</div>
@if ((bool)ViewData["isMyAccount"])
{
    <hr />
    <h2>Personal Data</h2>
    <p>
        As described in our <a asp-controller="home" asp-action="privacy">Privacy Policy</a>, you are entitled to view, update,
        and request deletion of the personal data you provide.  Because we do not track your browsing activity on other sites,
        all we have is the data listed below.
    </p>
    <table>

    </table>
}




