
<div class="container pt-3">
    <div class="row align-items-center">
        <div class="col-sm-4 text-center">
            <img class="img-fluid" src="/images/unknownPersonPlaceholderLarge.png" />
        </div>
        <div class="col-sm-8">
            <span class="text-center text-sm-left">
                <vc:title-heading title="@ViewData["username"]"></vc:title-heading>
            </span>
            <p>&nbsp;</p>
            <p>
                Coming soon:  the ability to upload your own profile picture and customize this space
            </p>
        </div>
    </div>
</div>




