@model JamesQMurphy.Web.Models.HomePageItems
@inject JamesQMurphy.Blog.IMarkdownHtmlRenderer Renderer

<div class="container p-0">
    <div class="row p-0">
        @ViewData["LoggedInMessage"]
    </div>
    <div class="row p-0">

        <!-- Main content area -->
        <div class="col-md-9 jqm-easy-to-read">
            <div class="container-fluid">
                <div class="row p-1 pb-4">
                    <h1>Latest Blog Posts</h1>
                </div>
            </div>
            <article class="container-fluid">
                <div class="row border-top p-1">
                    <div>
                        @await Component.InvokeAsync(nameof(JamesQMurphy.Web.ViewComponents.ArticleMetadataListing), new { articleMetadata = Model.Article1.Metadata, displayCompact = false })
                    </div>
                    <div>
                        @Html.Raw(Renderer.RenderHtml(Model.Article1Teaser))
                    </div>
                    <div class="container-fluid text-right"><a href="/blog/@Model.Article1.YearString/@Model.Article1.MonthString/@Model.Article1.Slug">Read more&gt;&gt;</a></div>
                </div>
            </article>
            <article class="container-fluid">
                <div class="row border-top p-1">
                    <div>
                        @await Component.InvokeAsync(nameof(JamesQMurphy.Web.ViewComponents.ArticleMetadataListing), new { articleMetadata = Model.Article2.Metadata, displayCompact = false })
                    </div>
                    <div>
                        @Html.Raw(Renderer.RenderHtml(Model.Article2Teaser))
                    </div>
                    <div class="container-fluid text-right"><a href="/blog/@Model.Article2.YearString/@Model.Article2.MonthString/@Model.Article2.Slug">Read more&gt;&gt;</a></div>
                </div>
            </article>
            <div class="container-fluid">
                <div class="row border-top p-1">
                    <a asp-area="" asp-controller="Blog" asp-action="Index">See all blog posts&gt;&gt;</a>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3 d-none d-md-block border-left">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Continuous Integration</h5>
                    <hr />
                    <p class="text-center">See the source code for this site on <a href="https://github.com/JamesQMurphy/www-jamesqmurphy-com">Github</a></p>
                    <p class="text-center">See how it's built in <a href="https://dev.azure.com/jamesqmurphy/www-jamesqmurphy-com">Azure DevOps</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



