
    <div class="container p-0">
        <h1>Secret Page</h1>
        <p>
            You should only see this page if you are logged in.
        </p>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-primary">Log out</button>
        </form>

    </div>



