<vc:title-heading title="@ViewData[Constants.VIEWDATA_PAGETITLE]"></vc:title-heading>
<p></p>
<div class="row">
    <div class="col-md-5">
        Since you sign in with an @ViewData["ExternalProvider"], we do not have a password for your account.
    </div>
</div>

