@inject ApplicationSignInManager<JamesQMurphy.Auth.ApplicationUser> signInManager

@{ 
    var externalLogInInfo = await signInManager.GetExternalLoginInfoAsync();
    var externalProvider = externalLogInInfo?.ProviderDisplayName ?? "external";
}
<vc:title-heading title="@ViewData[Constants.VIEWDATA_PAGETITLE]"></vc:title-heading>
<p></p>
<p>
    Since you sign in with your @externalProvider account, we do not have a password for your account.
</p>


