@model RegisterViewModel
@{
    ViewData[Constants.VIEWDATA_PAGETITLE] = "Confirm Your Email Address";
    var address = Model.Email;
}

<h1>@ViewData[Constants.VIEWDATA_PAGETITLE]</h1>
<p>
    A verification e-mail has been sent to @address.  Please check your Inbox and verify
    your e-mail address by clicking on the link inside.
</p>



