@model RegisterWithEmailViewModel
@{
    ViewData[Constants.VIEWDATA_PAGETITLE] = "Sign Up";
}

<vc:title-heading title="@ViewData[Constants.VIEWDATA_PAGETITLE]"></vc:title-heading>

@if ((bool)@ViewData["IsLoggedIn"])
{
    <p>You must sign out before you can sign up another account.</p>
    <p>
        <vc:log-out-button return-url="/account/register" />
    </p>
}
else
{
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <form class="pt-3" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h4>Choose a Username</h4>
                    <p>
                        Your username is public and is visible to everybody.  Choose a
                        username that won't be embarrassing.
                    </p>
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <hr />
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="AcceptPrivacy">
                    I agree to the <a asp-area="" asp-controller="home" asp-action="terms">Terms of Service</a>
                    and <a asp-area="" asp-controller="home" asp-action="privacy">Privacy Policy</a>.<br />
                    <span asp-validation-for="AcceptPrivacy" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <hr />
            Or, you can sign up using one of these social network providers.  Don't
            worry &mdash; you can still choose any username that you want.  We won't
            share your social network information with anybody.  We won't even mention
            which social network you used.
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <vc:external-login-buttons caption="Sign up with {0}"></vc:external-login-buttons>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

}


