@model RegisterWithEmailViewModel
@{
    ViewData[Constants.VIEWDATA_PAGETITLE] = "Sign Up";
}

<vc:title-heading title="@ViewData[Constants.VIEWDATA_PAGETITLE]"></vc:title-heading>

@if ((bool)@ViewData["IsLoggedIn"])
{
    <p>You must sign out before you can sign up another account.</p>
    <p>
        <vc:log-out-button return-url="/account/register" />
    </p>
}
else
{
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-5">
            <form class="pt-3" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h4>Choose a Username</h4>
                    <p>
                        Your username is public and is visible to everybody.  So for the
                        love of everything holy, please choose a username that isn't
                        embarrassing to you or me or anybody else.
                    </p>
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" placeholder="Go ahead"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <hr />
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="AcceptPrivacy">
                    I agree to the <a asp-area="" asp-controller="home" asp-action="privacy">Privacy Policy</a>.<br />
                    <span asp-validation-for="AcceptPrivacy" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

}


