<h1>@ViewData[Constants.VIEWDATA_PAGETITLE]</h1>
<p>
    Your password has been successfully changed. Please <a asp-action="@nameof(JamesQMurphy.Web.Controllers.accountController.login)">click here to sign in</a>.
</p>
