@{ 
    var returnUrl = ViewData["ReturnUrl"].ToString();
}
<form asp-controller="account" asp-action="@nameof(JamesQMurphy.Web.Controllers.accountController.logout)" asp-route-returnurl="@returnUrl" method="post">
    <button type="submit" class="btn btn-primary">Sign Out</button>
</form>
