@model JamesQMurphy.Blog.ArticleMetadata

@{
    if (Model is null)
    {
        <!-- null model -->
    }
    else
    {
        var link = $"/blog/{Model.Slug}";

        <div>
            <h3><a href="@link">@Model.Title</a></h3>
            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <h5>@Model.Description</h5>
            }
            <h6 class="text-muted font-weight-light"><small>by JamesQMurphy | @Model.PublishDate.ToString("MMMM d, yyyy")</small></h6>
        </div>
    }
}
