@model JamesQMurphy.Blog.Article

<vc:article article="@Model"></vc:article>

<h2>Comments</h2>
<hr />
<div class="container" id="commentsRoot"></div>
<div class="container-fluid" id="addComment">
    @if ((bool)ViewData["isLoggedIn"])
    {
        <form method="post">
            <label class="row pt-3 pb-1 border-top" for="userComment">
                <b>Add a public comment...</b>
            </label>
            <div class="row mb-3">
                <textarea name="commentContent" id="userComment" maxlength="1000" style="min-width: 100%"></textarea>
            </div>
            <div class="row">
                <input type="button" class="btn btn-primary" value="Comment" id="submitUserComment"/>
            </div>
        </form>
    }
    else
    {
        <p class="text-center">You need to be <a asp-controller="account" asp-action="@nameof(JamesQMurphy.Web.Controllers.accountController.login)" asp-route-returnurl="@ViewData["returnUrl"]">signed in</a> to post a comment.</p>
    }

</div>

    @section Scripts {
        <script type="text/javascript" src="/dist/lib/mermaid/dist/mermaid.min.js" asp-append-version="true"></script>
        <script>mermaid.initialize({ startOnLoad: true });</script>

        <script src="~/js/blogComments.js" asp-append-version="true"></script>
    }
