<partial name="_Article" />
<h6>Comments will go here</h6>
<div class="container" id="commentsRoot"></div>
<div class="container-fluid">
    <form>
        <div class="row mb-3">
            <textarea name="commentContent" id="userComment" maxlength="1000" style="min-width: 100%"></textarea>
        </div>
        <div class="row">
            <input type="button" class="btn btn-primary" value="Comment" />
        </div>
    </form>
</div>
@section Scripts {
    <script type="text/javascript" src="/dist/lib/mermaid/dist/mermaid.min.js" asp-append-version="true"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>

    <script src="~/js/blogComments.js" asp-append-version="true"></script>
}