@model JamesQMurphy.Blog.Article

<h1>@Model.Title</h1>
<h6 class="text-muted font-weight-light"><small>by JamesQMurphy | @Model.PublishDate.ToString("MMMM d, yyyy")</small></h6>
<br/>
@Model.Content
