@model IEnumerable<JamesQMurphy.Blog.ArticleMetadata>

@{bool renderedArticles = false;}

@foreach (var item in Model)
{
    var link = $"/blog/{item.YearString}/{item.MonthString}/{item.Slug}";
    if (!renderedArticles)
    {
        <h1>Blog Articles</h1><br />
        renderedArticles = true;
    }

    <h4><a href="@link">@item.Title</a></h4>
    if (!string.IsNullOrWhiteSpace(item.Description))
    {
        <h5>@item.Description</h5>
    }
    <h6 class="text-muted font-weight-light"><small>by JamesQMurphy | @item.PublishDate.ToString("MMMM d, yyyy")</small></h6>
    <br/>
}

@if (!renderedArticles)
{
    <p>There are no blog articles present.</p>
}
