@model IEnumerable<JamesQMurphy.Blog.ArticleMetadata>

@{bool renderedArticles = false;}

@foreach (var item in Model)
{
    if (!renderedArticles)
    {
        <h1>Blog Articles</h1><br />
        renderedArticles = true;
    }

    @await Component.InvokeAsync(nameof(JamesQMurphy.Web.ViewComponents.ArticleMetadataListing), new { articleMetadata = item, displayCompact = true })
}

@if (!renderedArticles)
{
    <p>There are no blog articles present.</p>
}
