@model JamesQMurphy.Blog.Article
@inject JamesQMurphy.Blog.IMarkdownHtmlRenderer Renderer

@section Scripts {
    <script type="text/javascript" src="/dist/lib/mermaid/dist/mermaid.min.js" asp-append-version="true"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
}


@{
    var title = String.Empty;
    if (ViewData.ContainsKey(Constants.VIEWDATA_PAGETITLE))
    {
        title = ViewData[Constants.VIEWDATA_PAGETITLE].ToString();
    }
    if (!String.IsNullOrWhiteSpace(Model.Title))
    {
        title = Model.Title;
    }
}

<article>
    @if (!String.IsNullOrWhiteSpace(title))
    {
        <h1 class="display-4">@title</h1>
    }
    @if (!String.IsNullOrWhiteSpace(Model.Description))
    {
        <h3>@Model.Description</h3>
    }
    @if (Model.PublishDate != DateTime.MinValue)
    {
        <h6 class="text-muted">by JamesQMurphy | @Model.PublishDate.ToString("MMMM d, yyyy")</h6>
    }
    <br />
    @if (!String.IsNullOrWhiteSpace(Model.Content))
    {
        @Html.Raw(Renderer.RenderHtml(Model.Content))
    }
</article>
