@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    var webSiteTitle = webSiteOptions.WebSiteTitle;
}

@if (showBanner)
{
    <div id="cookieConsent" class="toast" style="position: fixed; bottom: 2em; left: 4em; z-index: 9999;" role="alert" data-autohide="false">
        <div class="toast-header bg-info text-light">This Site Uses Cookies</div>
        <div id="cookieConsentBody" class="toast-body text-center">
            <p class="text-left">
                Welcome to @webSiteTitle!  This site uses cookies to enable certain functionality,
                such as logging in to the site.  We do <i>not</i> track
                your browsing habits on other sites.  Read our <a asp-area="" asp-controller="home" asp-action="privacy">Privacy Policy</a>
                to learn more.
            </p>
            <button type="button" class="btn btn-primary" data-dismiss="toast" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">Accept</span>
            </button>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent #cookieConsentBody button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}