@model JamesQMurphy.Blog.ArticleMetadata
@inject JamesQMurphy.Blog.IMarkdownHtmlRenderer Renderer

@section Scripts {
    <script type="text/javascript" src="/dist/lib/mermaid/dist/mermaid.min.js" asp-append-version="true"></script>
    <script>mermaid.initialize({ startOnLoad: true });</script>
}


@{
    var title = String.Empty;
    if (ViewData.ContainsKey(Constants.VIEWDATA_PAGETITLE))
    {
        title = ViewData[Constants.VIEWDATA_PAGETITLE].ToString();
    }
    if (Model != null)
    {
        if (!String.IsNullOrWhiteSpace(Model.Title))
        {
            title = Model.Title;
        }
    }
}

<article>
    @if (!String.IsNullOrWhiteSpace(title))
    {
        <vc:title-heading title="@title"></vc:title-heading>
    }
    @if (Model != null)
    {
        @if (!String.IsNullOrWhiteSpace(Model.Description))
        {
            <h3>@Model.Description</h3>
        }
        <h6 class="text-muted">by JamesQMurphy | @Model.PublishDate.ToString("MMMM d, yyyy")</h6>
    }
    <br />
    @if (ViewData.ContainsKey(Constants.VIEWDATA_MARKDOWN))
    {
        @Html.Raw(Renderer.RenderHtml(ViewData[Constants.VIEWDATA_MARKDOWN].ToString()))
    }
</article>
