@model ErrorViewModel
@{
    ViewData[Constants.VIEWDATA_PAGETITLE] = "Error";
}

<h1 class="text-danger">We're Sorry</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    We've made a note of the error and we'll take a look at what happened.
    If you want, you can contact us using our <a href="/contact">Contact Us</a> page.
</p>

